body {
    background-color: black;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    color: white;
}

#image-container {
    display: flex;
    position: absolute;
    transform: translate(0%, -50%);
    gap: 5vmin;
    top: 50%;
    left: 50%;
    cursor: grab;
    transition: transform 0.2s ease;
}

#image-container > .image {
    width: 45vmin;
    height: 66vmin;
    object-fit: cover;
    object-position: 100% center;  /* percentage use for homeimages.js percentage syntax to manipulate the css */
    cursor: grabbing;
    transition: transform 0.2s ease;
  }