@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* Ensure sections stack vertically */
section {
    width: 100%;
    display: block;  /* Forces them into a vertical stack */
    clear: both;     /* Prevents floating elements from interfering */
    padding: 20px;
    content: "";
    display: table;
    clear: both;
}

.special-elite-regular {
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    background-image: url('papertexture.jpg');
    background-size: cover;
    background-position: center;
    font-family: "Special Elite", serif;
    font-weight: normal;
    font-style: normal;
}

body::after {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

body::before {
    background-color: #d2b8a9; /* First color */
    mix-blend-mode: multiply;
}

body::after {
    background-color: #8a6f60; /* Second color */
    mix-blend-mode: overlay; 
}

h1, h2, h3, h4 {
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 30px;
    display: inline-block, flex; 
    width: 100%; 
    padding-left: 10%; /* cutoff of the text */
    padding-right: 10%; /* cutoff of the text */
    box-sizing: border-box; 
}

p {
    text-align: justify center;
    top: 50%;
    left: 50%;
    font-size: 20px;
    display: inline-block, flex; 
    width: 100%; 
    padding-left: 10%; /* cutoff of the text */
    padding-right: 10%; /* cutoff of the text */
    box-sizing: border-box; 
    
}